* {
	background-color: hsl(0, 0%, 95%, 1%);
	color: #141414;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 14pt;
}
a[role="button"] {
	border: solid 0.5em #000;
	border-radius: 70%;
	padding: 1rem;
	background-color: hsl(199, 98, 75);
	color:#4d4d4d;
	text-align: center;
}
h1 h2 h3 h4 h5 h6 {
	font-weight: 700;
}