.caja1 { /* Abrimos clase denominada caja1 */
	border-radius: 100%; /* Ponemos las 4 esquinas redondeadas al 100% para hacer un círculo */
	border: 5px; /* Ponemos un borde de 5 pixeles para todos los lados */
	border-color: violet; /* Ponemos un color violeta para todos los lados del borde */
	border-style: dotted; /* Ponemos un borde punteado para todos los lados del borde */
	padding: 15px; /* Ponemos un relleno de 15 pixeles para todos los lados */
	margin: 20px; /* Ponemos un margen de 20 pixeles para todos los lados. */
	background-color: yellow; /* Ponemos fondo amarillo */
}
.caja2 { /* Abrimos clase denominada caja2 */
	border-radius: 10% 30%; /* Redondeamos las esquinas superior izquierda e inferior derecha un 10% y la superior derecha e inferior izquierda un 30% */
	border-block: 5px; /* Ponemos bordes de 5 pixeles para arriba y abajo */
	border-inline: 2px; /* Ponemos bordes de dos pixeles para la izquierda y derecha */
	border-block-color: blue; /* Ponemos color azul para los bordes de arriba y abajo */
	border-inline-color: red; /* Ponemos color rojo para los bordes izquierdo y derecho. */
	background-color: yellow; /* Ponemos fondo amarillo */
	margin-block: 10px; /* Ponemos márgenes arriba y abajo de 10 pixeles */
	margin-inline: 5px; /* Ponemos márgenes izquierdo y derecho de 5 pixeles */
	padding-block: 40px; /* Ponemos relleno de 40 pixeles arriba y abajo */
	padding-inline: 20px; /* Ponemos un relleno de 20 pixeles a la izquierda y a la derecha */
}
.caja3 { /* Abrimos clase caja3 */
	border-start-end-radius: 100%; /* Redondeamos la esquina superior derecha al 100% */
	border-block-start: 5px; /* Ponemos borde de arriba de 5 pixeles */
	border-inline-end: 5px; /* Ponemos borde derecho de 5 pixeles */
	border-block-start-style: double; /* Ponemos estilo de borde de arriba en doble línea */
	border-block-start-color: black; /* Ponemos color del borde de arriba en color negro */
	border-inline-end-color: brown; /* Ponemos color del borde derecho en café */
	border-inline-end-style: dotted; /* Ponemos estilo del borde derecho en punteado */
	padding-block-start: 30px; /* Ponemos relleno arriba de 30 pixeles */
	padding-inline-end: 20px; /* Ponemos relleno a la derecha de 20 pixeles */
	margin-block-end: 50px; /* Ponemos un margen abajo de 50 pixeles */
	margin-inline-start: 30vw; /* Ponemos margen del 30% del ancho del viewport a la izquierda */
	block-size: 50vh; /* Ponemos una altura fija del 30% del viewport para la caja */
	inline-size: 40vw; /* Ponemos un ancho fijo del 40% del viewport para la caja */
}
h1, h2, h3 { /* Agrupamos los tres selectores de título para cambiarles el estilo al mismo tiempo */
	font-weight: 700; /* Ponemos fuente gruesa a 700 */
	color: #990000; /* Ponemos un color de letras en formato hexadecimal */
}
p strong { /* Aplicamos este estilo solo a las etiquetas strong que estén dentro de la etiqueta p */
	color: #0000ff; /* Ponemos color azul */
	text-transform: lowercase; /* Ponemos todas las letras en minúsculas */
}
a[download] { /* Este estilo lo aplicamos a todos los enlaces que tengan el atributo download */
	color: #00ff00; /* Ponemos color verde */
	background-color: #ffffff; /* Ponemos fondo blanco */
}