/* Usamos el selector universal */
* {
	background-color: yellow; /* Ponemos fondo amarillo con el nombre del color en inglés */
	color: #000000; /* Ponemos letras en color negro en formato hexadecimal */
} /* Cerramos el selector universal */

span { /* Abrimos el selector span, etiqueta html. */
	color: rgb(0, 0, 255); /* Ponemos color azul para las letras en formato RGB */
}

#MiTitulo { /* Abrimos el selector mediante ID MiTitulo */
	color: hsl(30, 25%, 100%); /* Ponemos color café para las letras en formato HSL */
}

.TextoResaltado { /* Abrimos clase TextoResaltado */
	color:hsl(30, 25%, 90%); /* Ponemos un color de letras café más obscuro disminuyendo la luminosidad del 100% en el ID al 90% en la clase, formato HSL */
}
/* Revisa también el código HTML de la clase 1, para ver como aplicamos estilos desde el head y como atributo. */