/* Para todo el documento */;
* {
	background-color: yellow; /* Ponemos fondo de color amarrillo poniendo el nombre del color */;
	color: #000000; /* Ponemos color de letras en negro con código hexadecimal. */;
}
/* Para la etiqueta span */;
span {
	color: rgb(0, 0, 255); /* Ponemos el color de letras en color azul en formato RGB */;
}
/* Para el elmento con el identificador MiTitulo */;
#MiTitulo {
	color: hsl(30, 25%, 100%); /* Ponemos el color de las letras en café en formato HSL */;
}
/* Para el elemento con la clase TextoResaltado */;
.TextoResaltado {
	color:hsl(30, 25%, 90%); /* Ponemos el color de las letras en un café más obscuro disminuyendo el brillo del color del título */;
}